/* Modern Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 10px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: grid;
  grid-template-columns: 300px 1fr;
  font-family: sans-serif;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

.center {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.08);
}

.contacts-section {
  height: 100vh;
  padding: 2rem 1rem;

  overflow-y: hidden;
}

.contacts-section header {
  padding: 0.5rem 0;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  border-bottom: 1px solid #1b1b1b;
}

.contacts-list > li + li {
  border-top: 1px solid #cbcbcb;
}

.contacts-list {
  max-width: 400px;
}

.contacts-list > li {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 1rem;
}

/* VIEW SECTION */

.view-section {
  padding: 2rem 0;
}

.form-stack > * + * {
  margin-top: 0.5rem;
}

.form-stack > label {
  display: block;
}

.form-stack > input {
  width: 100%;
}

.contact-form {
  max-width: 400px;
}

.contact-form h1 {
  margin-bottom: 1rem;
}

.contact-form label {
  font-weight: bold;
}

.contact-form .checkbox-section {
  padding: 0.25rem 0;
}

.contact-form .actions-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 0.5rem;
}

.address-card h2 {
  font-size: 1.15rem;
}

.contact-heading {
  margin-top: 20px;
}

/* Loading spinner, yes of course I found it online and didn't build my own */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #999;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .container,
.lds-ring {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.single-meeting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meeting-icon {
  height: 24px;
  width: 24px;
  color: orangered;
}

button {
  cursor: pointer;
}

.contact-type-form-control {
  display: flex;
  align-items: center;
  gap: 16px;
}
