<form class="form-stack light-shadow center contact-form">
  <h1>Create Contact</h1>
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" name="first-name-input" type="text" />
  <label for="last-name-input">Last Name:</label>
  <input id="last-name-input" name="last-name-input" type="text" />
  <label for="street-input">Street:</label>
  <input id="street-input" name="street-input" type="text" />
  <label for="city-input">City:</label>
  <input id="city-input" name="city-input" type="text" />
  <label for="post-code-input">Post Code:</label>
  <input id="post-code-input" name="post-code-input" type="text" />
  <div class="checkbox-section">
    <input id="block-checkbox" name="block-checkbox" type="checkbox" />
    <label for="block-checkbox">Block</label>
  </div>
  <div class="actions-section">
    <button class="button blue" type="submit">Create</button>
  </div>
</form>
